импорт библиотеки pandas и чтение csv файла

In [4]:
import pandas as pd

gods = pd.read_csv("greek_gods.csv")
gods

,name-english,name-greek,main-type,sub-type,description
0,Aphrodite,Ἀφροδίτη,god,olympian,"goddess of beauty, love, desire, and pleasure"
1,Apollo,Ἀπόλλων,god,olympian,"god of music, arts, knowledge, healing, plague..."
2,Ares,Ἄρης,god,olympian,"god of courage, war, bloodshed, and violence"
3,Artemis,Ἄρτεμις,god,olympian,"virgin goddess of the hunt, wilderness, animal..."
4,Athena,Ἀθηνᾶ,god,olympian,"goddess of reason, wisdom, intelligence, skill..."
...,...,...,...,...,...
440,Rhapso,Ραψώ,god,nymph,minor goddess or nymph whose name apparently r...
441,Alexiares,Αλεξιαρης,god,other,son of heracles presiding over the defence of ...
442,Anicetus,Ανικητος,god,other,son of heracles presiding over the defence of ...
443,Auxesia,Αυξησία,god,other,local fertility goddess
444,Damia,Δαμία,god,other,local fertility goddess

вывод первых 15 значений

In [5]:
gods.head(15)

,name-english,name-greek,main-type,sub-type,description
0,Aphrodite,Ἀφροδίτη,god,olympian,"goddess of beauty, love, desire, and pleasure"
1,Apollo,Ἀπόλλων,god,olympian,"god of music, arts, knowledge, healing, plague..."
2,Ares,Ἄρης,god,olympian,"god of courage, war, bloodshed, and violence"
3,Artemis,Ἄρτεμις,god,olympian,"virgin goddess of the hunt, wilderness, animal..."
4,Athena,Ἀθηνᾶ,god,olympian,"goddess of reason, wisdom, intelligence, skill..."
5,Demeter,Δημήτηρ,god,olympian,"goddess of grain, agriculture, harvest, growth..."
6,Dionysus,Διόνυσος,god,olympian,"god of wine, fruitfulness, parties, festivals,..."
7,Hades,ᾍδης,god,olympian,god and king of the underworld and the dead
8,Hephaestus,Ἥφαιστος,god,olympian,"god of fire, metalworking, and crafts"
9,Hera,Ἥρα,god,olympian,"queen of the gods, and goddess of marriage, wo..."
10,Hermes,Ἑρμῆς,god,olympian,"god of boundaries, travel, communication, trad..."
11,Hestia,Ἑστία,god,olympian,"virgin goddess of the hearth, home, and chastity"
12,Poseidon,Ποσειδῶν,god,olympian,"god of the sea, rivers, floods, droughts, and ..."
13,Zeus,Ζεύς,god,olympian,"king of the gods, ruler of mount olympus, and ..."
14,Achlys,Ἀχλύς,god,primordial,"goddess of poisons, and the personification o..."

вывод последних 15 значений

In [6]:
gods.tail(15)

,name-english,name-greek,main-type,sub-type,description
430,Terpsichore,Τερψιχόρη,god,other,muse of dance and choral poetry
431,Urania,Ουρανία,god,other,muse of astronomy
432,Cephisso,Κεφισσώ,god,muse,daughter of Apollo
433,Apollonis,Απολλωνίς,god,muse,daughter of Apollo
434,Borysthenis,Βορυσθενίς,god,muse,daughter of Apollo
435,Hypate,Υπάτη,god,muse,upper chord of the lyre
436,Mese,Μέση,god,muse,middle chord of the lyre
437,Nete,Νήτη,god,muse,lowest chord of the lyre
438,Polymatheia,Πολυμάθεια,god,muse,muse of knowledge
439,Palaestra,Παλαίστρα,god,other,goddess of wrestling
440,Rhapso,Ραψώ,god,nymph,minor goddess or nymph whose name apparently r...
441,Alexiares,Αλεξιαρης,god,other,son of heracles presiding over the defence of ...
442,Anicetus,Ανικητος,god,other,son of heracles presiding over the defence of ...
443,Auxesia,Αυξησία,god,other,local fertility goddess
444,Damia,Δαμία,god,other,local fertility goddess

анализ данных с помощью info

In [7]:
gods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name-english  445 non-null    object
 1   name-greek    445 non-null    object
 2   main-type     445 non-null    object
 3   sub-type      445 non-null    object
 4   description   445 non-null    object
dtypes: object(5)
memory usage: 17.5+ KB

вывод количества уникальных значений

In [8]:
gods.nunique()

name-english    445
name-greek      441
main-type         3
sub-type         16
description     395
dtype: int64

In [9]:
gods["name-english"].nunique()

445

In [10]:
gods["name-greek"].nunique()

441

In [11]:
gods["main-type"].nunique()

3

In [12]:
gods["sub-type"].nunique()

16

In [13]:
gods["description"].nunique()

395

фильтрация

In [14]:
gods.sort_values(by='sub-type')

,name-english,name-greek,main-type,sub-type,description
341,Philomelus,Φιλόμελος,god,agriculture,agricultural demi-god inventor of the wagon an...
342,Plutus,Πλοῦτος,god,agriculture,"god of wealth, including agricultural wealth, ..."
343,Triptolemus,Τριπτόλεμος,god,agriculture,"god of farming and agriculture, he brought agr..."
340,Persephone,Περσεφόνη,god,agriculture,"queen of the underworld, wife of hades and god..."
339,Eunostus,Εύνοστος,god,agriculture,goddess of the flour mill
...,...,...,...,...,...
41,Oceanus,Ὠκεανός,titan,twelve titan,titan of the all-encircling river oceans aroun...
42,Phoebe,Φοίβη,titan,twelve titan,"titaness of the bright intellect and prophecy,..."
43,Rhea,Ῥέα,titan,twelve titan,"titaness of fertility, motherhood and the moun..."
45,Theia,Θεία,titan,twelve titan,titaness of sight and the shining light of the...
38,Hyperion,Ὑπερίων,titan,twelve titan,titan of light

In [15]:
gods[gods['main-type'] == 'god']

,name-english,name-greek,main-type,sub-type,description
0,Aphrodite,Ἀφροδίτη,god,olympian,"goddess of beauty, love, desire, and pleasure"
1,Apollo,Ἀπόλλων,god,olympian,"god of music, arts, knowledge, healing, plague..."
2,Ares,Ἄρης,god,olympian,"god of courage, war, bloodshed, and violence"
3,Artemis,Ἄρτεμις,god,olympian,"virgin goddess of the hunt, wilderness, animal..."
4,Athena,Ἀθηνᾶ,god,olympian,"goddess of reason, wisdom, intelligence, skill..."
...,...,...,...,...,...
440,Rhapso,Ραψώ,god,nymph,minor goddess or nymph whose name apparently r...
441,Alexiares,Αλεξιαρης,god,other,son of heracles presiding over the defence of ...
442,Anicetus,Ανικητος,god,other,son of heracles presiding over the defence of ...
443,Auxesia,Αυξησία,god,other,local fertility goddess
444,Damia,Δαμία,god,other,local fertility goddess

In [16]:
gods[gods['sub-type'] == 'nymph']

,name-english,name-greek,main-type,sub-type,description
186,Gorgyra,Γοργύρα,god,nymph,torch-bearing underworld nymph (lampades; λαμ...
187,Orphne,Ορφνη,god,nymph,"lampad nymph of hades, mother of askalaphos (l..."
202,Eidothea,Ειδοθέα,god,nymph,prophetic sea nymph and daughter of proteus
205,Arethusa,Αρετούσα,god,nymph,sea nymph and daughter of nereus who was tran...
206,Dynamene,Δυναμένη,god,nymph,sea nymph associated with the might and power ...
207,Galene,Γαλήνη,god,nymph,sea nymph and goddess of calm seas
208,Psamathe,Πσαμάθη,god,nymph,sea nymph and goddess of sand beaches
209,Thetis,Θέτις,god,nymph,sea nymph and leader of the nereids who presid...
210,Nereus,Νηρέας,god,nymph,"sea nymph and old man of the sea, and the god..."
212,Idyia,Ίδυια,god,nymph,sea nymph and wife of the colchian king aeetes...
261,Aurai,"Αὖραι', 'Αὖρα",god,nymph,"nymphs of the cooling breeze, goddess of the b..."
265,The Hesperides,´Εσπερίδες,god,nymph,nymphs of the evening and sunset
268,Nephele,Νεφέλη,god,nymph,cloud nymph
281,Anthousai,Ανθούσαι,god,nymph,flower nymphs
290,Chloris,Χλωρίς,god,nymph,minor flower nymph and wife of zephyrus
304,Dryades,Δρυάδες,god,nymph,tree and forest nymphs
305,Epimeliades,Επιμελίδες,god,nymph,nymphs of highland pastures and protectors of ...
309,Maenades,Μαινάδες,god,nymph,"crazed nymphs in the retinue of dionysus, nymp..."
310,Methe,Μέθη,god,nymph,nymph of drunkenness
311,Meliae,Μελίαι,god,nymph,nymphs of honey and the ash tree
312,Daphne,Δάφνη,god,nymph,fresh water nymph (naiades; ναιάδες)
313,Metope,Μετώπη,god,nymph,fresh water nymph (naiades; ναιάδες)
314,Minthe,Μίνθη,god,nymph,fresh water nymph (naiades; ναιάδες)
315,Hekaerge,Εκαέργη,god,nymph,nymph representing the aspect of archery dista...
316,Loxo,Λοξώ,god,nymph,nymph representing the aspect of archery traje...
317,Oupis,Ουπις,god,nymph,nymph representing the aspect of archery aim (...
318,Adrasteia,Αδράστεια,god,nymph,nymph nursemaid of the infant zeus
319,Echo,Ηχώ,god,nymph,nymph cursed never to speak except to repeat ...
440,Rhapso,Ραψώ,god,nymph,minor goddess or nymph whose name apparently r...

удаление дубликатов

In [44]:
deletedata = gods.drop_duplicates()

вывод уникальных значений

In [21]:
gods['main-type'].unique()

array(['god', 'titan', 'personification'], dtype=object)

In [22]:
gods['sub-type'].unique()

array(['olympian', 'primordial', 'twelve titan', 'other titan', 'other',
       'personification', 'chthonic', 'nymph', 'sea', 'sky', 'rustic',
       'agriculture', 'health', 'sleep', 'hours', 'muse'], dtype=object)

вывод размерности массива

In [24]:
gods.shape

(445, 5)

анализ с помощью describe

In [25]:
gods.describe()

,name-english,name-greek,main-type,sub-type,description
count,445,445,445,445,445
unique,445,441,3,16,395
top,Aphrodite,Ἀστραῖος,god,personification,sea spirit native to the island of rhodes (tel...
freq,1,2,307,110,16

In [50]:
gods.describe().count()

name-english    4
name-greek      4
main-type       4
sub-type        4
description     4
dtype: int64

фильтрация датасета с помощью loc

In [26]:
locdata = gods.loc[0]
locdata

name-english                                        Aphrodite
name-greek                                           Ἀφροδίτη
main-type                                                 god
sub-type                                             olympian
description     goddess of beauty, love, desire, and pleasure
Name: 0, dtype: object

In [33]:
rowdata = gods.loc[[0, 1, 2], ['name-english', 'name-greek']]
rowdata

  name-english name-greek
0    Aphrodite   Ἀφροδίτη
1       Apollo    Ἀπόλλων
2         Ares       Ἄρης

In [34]:
olympians = gods.loc[gods['sub-type'] == 'olympian']
olympians

,name-english,name-greek,main-type,sub-type,description
0,Aphrodite,Ἀφροδίτη,god,olympian,"goddess of beauty, love, desire, and pleasure"
1,Apollo,Ἀπόλλων,god,olympian,"god of music, arts, knowledge, healing, plague..."
2,Ares,Ἄρης,god,olympian,"god of courage, war, bloodshed, and violence"
3,Artemis,Ἄρτεμις,god,olympian,"virgin goddess of the hunt, wilderness, animal..."
4,Athena,Ἀθηνᾶ,god,olympian,"goddess of reason, wisdom, intelligence, skill..."
5,Demeter,Δημήτηρ,god,olympian,"goddess of grain, agriculture, harvest, growth..."
6,Dionysus,Διόνυσος,god,olympian,"god of wine, fruitfulness, parties, festivals,..."
7,Hades,ᾍδης,god,olympian,god and king of the underworld and the dead
8,Hephaestus,Ἥφαιστος,god,olympian,"god of fire, metalworking, and crafts"
9,Hera,Ἥρα,god,olympian,"queen of the gods, and goddess of marriage, wo..."
10,Hermes,Ἑρμῆς,god,olympian,"god of boundaries, travel, communication, trad..."
11,Hestia,Ἑστία,god,olympian,"virgin goddess of the hearth, home, and chastity"
12,Poseidon,Ποσειδῶν,god,olympian,"god of the sea, rivers, floods, droughts, and ..."
13,Zeus,Ζεύς,god,olympian,"king of the gods, ruler of mount olympus, and ..."

удаление колонки

In [45]:
deldata = deletedata.drop(columns=['description'])

замена значений в определенном столбце

In [46]:
rep = deldata.replace({'sub-type' : 'other'}, 'unknown')

сохранение нового датасета

In [47]:
rep.to_csv('newfile_gods.csv', index=False)

проверка нового датасета

In [48]:
readfl = pd.read_csv('newfile_gods.csv')
readfl

    name-english name-greek main-type  sub-type
0      Aphrodite   Ἀφροδίτη       god  olympian
1         Apollo    Ἀπόλλων       god  olympian
2           Ares       Ἄρης       god  olympian
3        Artemis    Ἄρτεμις       god  olympian
4         Athena      Ἀθηνᾶ       god  olympian
..           ...        ...       ...       ...
440       Rhapso       Ραψώ       god     nymph
441    Alexiares  Αλεξιαρης       god   unknown
442     Anicetus   Ανικητος       god   unknown
443      Auxesia    Αυξησία       god   unknown
444        Damia      Δαμία       god   unknown

[445 rows x 4 columns]

вывод колонок

In [49]:
gods.columns

Index(['name-english', 'name-greek', 'main-type', 'sub-type', 'description'], dtype='object')